.venv/
venv/
ENV/

**/__pycache__/
*.pyc
*.pyo
*.pyd

.env

.pytest_cache/
.asyncio_cache/
*.log

reports/
allure-results/
allure-report/
htmlcov/
.coverage
.coverage.*


test-results/
playwright-report/
.playwright/

